/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .flickr_pagination {
  text-align: center;
  cursor: default;
  font-weight: 500;
  font-size: 0.875rem;
  color: oklch(21% 0.034 264.665);
}


.flickr_pagination a {
  border: 1px solid oklch(92.8% 0.006 264.531);
  border-radius: 0.5rem;
  text-decoration: none;
  padding: 8px 16px;
}

.flickr_pagination .disabled {
  border: 1px solid oklch(92.8% 0.006 264.531);
  border-radius: 0.5rem;
  color: oklch(70.7% 0.022 261.325);
}

.flickr_pagination a:hover, .flickr_pagination a:focus {
  background: oklch(96.7% 0.003 264.542);
}

.flickr_pagination .previous_page, .flickr_pagination .next_page {
  padding: 8px 16px;
}
