<% content_for :title, "Edit Location" %>

<div class="h-full flex flex-col justify-center items-center p-6">
  <div class="w-full max-w-[800px] p-6 border border-gray-200 rounded-lg shadow-sm space-y-5">
    <h2 class="text-xl font-semibold">Edit Location</h2>
    <%= render "form", location: @location %>
  </div>
</div>
