<footer class="bg-gray-100 border-t border-gray-200 py-4 mt-auto">
  <div class="max-w-7xl mx-auto px-4 flex flex-col items-start sm:flex-row justify-between items-center text-sm text-gray-600">
    <div class="flex flex-col">
        <p class="font-medium">Accessibility Map</p>
        <p class="text-gray-500 mt-1 sm:mt-0">Created by Brandon Do, Darian Liang, Larry Ling, Chisa Yan</p>
    </div>
    
    <a href="https://github.com/NU-CS-Software-Studio-Fall-25/project-accessibility-map.git" target="_blank" class="text-blue-600 hover:text-blue-700 mt-1 sm:mt-0">
      View on GitHub
    </a>
  </div>
</footer>
